In [1]:
.import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import math

In [2]:
# dt = pd.read_csv('/kaggle/input/zomato-restaurants-data/zomato.csv', encoding ='latin-1')
dt=pd.read_csv(r'D:\Programming\Machine Learning\Krish Naik ML\Zomato_rating_prediction\data\zomato.csv')
df=dt.copy()
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [4]:
df.describe()

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

In [5]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [6]:
df['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [7]:
y=df['approx_cost(for two people)'][df['approx_cost(for two people)'].notna()].str.replace(',','').astype(int).mean()
y=math.ceil(y)
y

556

In [8]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].fillna(str(y))

In [9]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].str.replace(',','').astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51717 non-null  int64
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(2), object(15)
memory usage: 6.7+ MB

In [11]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)        0
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [12]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,1500,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,2000,[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [13]:
df['reviews_list'].loc[[0,1,2,3]]

0    [('Rated 4.0', 'RATED\n  A beautiful place to ...
1    [('Rated 4.0', 'RATED\n  Had been here for din...
2    [('Rated 3.0', "RATED\n  Ambience is not that ...
3    [('Rated 4.0', "RATED\n  Great food and proper...
Name: reviews_list, dtype: object

In [14]:
# df['Rating']=
# df['reviews_list'].str.split(',').str[0].str[-4:-1]#.str.split(' ').str[1].astype(float)

In [15]:
mask=(df.loc[df['reviews_list']=='[]',:]).index
df.drop(mask,inplace=True)
mask

Index([   75,    91,    92,    95,   107,   108,   109,   112,   113,   115,
       ...
       51633, 51636, 51638, 51639, 51642, 51643, 51644, 51672, 51713, 51714],
      dtype='int64', length=7595)

In [18]:
df['Rating']=df['reviews_list'].str.split(',').str[0].str[-4:-1].astype(float)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   rate                         41621 non-null  object
 6   votes                        44122 non-null  int64
 7   phone                        43172 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    43965 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44107 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  reviews_list                 44122 non-null  object
 14  menu_item                    44122 non-null  object
 15  listed_in(type)              44122 non-null  object
 16  listed_in(city)              44122 non-null  object
 17  Rating                       44122 non-null  float64
dtypes: float64(1), int64(2), object(15)
memory usage: 6.4+ MB

In [44]:
# df['reviews_list'].str.split(',').str[1].str.strip(r"RATED\n  ")
# df['reviews_list'].str.partition(',').str[1].str[10:].str.strip()  because partition will return a dataframe (before sep, sep , after sep)  whereas split returns series
'''.str.split()	Series
.str.partition()	DataFrame
.str.extract()	DataFrame
.str.replace()	Series'''
df['reviews']=df['reviews_list'].str.partition(',')[2].str[10:].str.strip()

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   rate                         41621 non-null  object
 6   votes                        44122 non-null  int64
 7   phone                        43172 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    43965 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44107 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  reviews_list                 44122 non-null  object
 14  menu_item                    44122 non-null  object
 15  listed_in(type)              44122 non-null  object
 16  listed_in(city)              44122 non-null  object
 17  Rating                       44122 non-null  float64
 18  reviews                      44122 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 7.7+ MB

In [46]:
df.drop('reviews_list',axis=1,inplace=True)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   rate                         41621 non-null  object
 6   votes                        44122 non-null  int64
 7   phone                        43172 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    43965 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44107 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  menu_item                    44122 non-null  object
 14  listed_in(type)              44122 non-null  object
 15  listed_in(city)              44122 non-null  object
 16  Rating                       44122 non-null  float64
 17  reviews                      44122 non-null  object
dtypes: float64(1), int64(2), object(15)
memory usage: 7.4+ MB

In [48]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),Rating,reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,[],Buffet,Banashankari,4.0,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,[],Buffet,Banashankari,4.0,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Buffet,Banashankari,3.0,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,[],Buffet,Banashankari,4.0,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,[],Buffet,Banashankari,4.0,Very good restaurant in neighbourhood. Buffet ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,No,No,NaN,0,+91 9148155994,Whitefield,Bar,NaN,Finger Food,900,[],Pubs and bars,Whitefield,4.0,A divine joint for Flavourful Vegetarian and N...
51711,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5 /5,81,080 65951222,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,[],Pubs and bars,Whitefield,4.0,"A fine place to chill after office hours, reas..."
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,1500,[],Pubs and bars,Whitefield,5.0,Food and service are incomparably excellent. T...
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500,[],Pubs and bars,Whitefield,4.0,Nice and friendly place and staff is awesome. ...
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500,[],Pubs and bars,Whitefield,5.0,"Great ambience , looking nice good selection o..."

In [49]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            2501
votes                              0
phone                            950
location                           0
rest_type                        157
dish_liked                     20666
cuisines                          15
approx_cost(for two people)        0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
Rating                             0
reviews                            0
dtype: int64

In [56]:
df.loc[df['rate'].isnull(),'rate']=df.loc[df['rate'].isnull(),'Rating'].astype(str)+'/5'

In [59]:
df.rename(columns={'Rating':'Rating by review','rate':'Rating'},inplace=True)
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'Rating',
       'votes', 'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'menu_item', 'listed_in(type)',
       'listed_in(city)', 'Rating by review', 'reviews'],
      dtype='object')

In [61]:
#Now since we mostly have the actual rating as 'rate' , we can drop the 'Rating by review'
df.drop('Rating by review',axis=1,inplace=True)

In [63]:
df['Rating'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '1.0/5', '2.6/5', '3.8 /5',
       '3.4/5', '5.0/5', '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5',
       '2.2/5', '2.3/5', '2.0/5', '3.4 /5', '-', '3.6 /5', '4.8/5',
       '3.9 /5', '4.2 /5', '4.0 /5', '4.1 /5', '3.7 /5', '2.9 /5',
       '3.3 /5', '2.8 /5', '3.5 /5', '2.7 /5', '3.2 /5', '3.1 /5',
       '2.6 /5', '4.5 /5', '4.3 /5', '4.4 /5', '4.9/5', '1.5/5', '2.1/5',
       '1.8/5', '4.6 /5', '4.9 /5', '2.5 /5', '3.0 /5', '4.8 /5',
       '2.3 /5', '4.7 /5', '2.4 /5', '2.1 /5', '2.2 /5', '2.0 /5',
       '1.8 /5'], dtype=object)

In [70]:
df.loc[df['Rating']=='NEW','Rating']='3.5/5' #Initial Rating
df.loc[df['Rating']=='-','Rating']='3.5/5' #Initial Rating

In [71]:
df['Rating'].str.split('/').str[0].str.strip().astype(float)

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51710    4.0
51711    2.5
51712    3.6
51715    4.3
51716    3.4
Name: Rating, Length: 44122, dtype: float64

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   Rating                       44122 non-null  object
 6   votes                        44122 non-null  int64
 7   phone                        43172 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    43965 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44107 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  menu_item                    44122 non-null  object
 14  listed_in(type)              44122 non-null  object
 15  listed_in(city)              44122 non-null  object
 16  reviews                      44122 non-null  object
dtypes: int64(2), object(15)
memory usage: 7.1+ MB

In [73]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
Rating                             0
votes                              0
phone                            950
location                           0
rest_type                        157
dish_liked                     20666
cuisines                          15
approx_cost(for two people)        0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
reviews                            0
dtype: int64

In [74]:
df.head()

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...

In [110]:
df['Rating'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', '3.5/5', '2.9/5', '1.0/5', '2.6/5', '3.8 /5', '3.4/5',
       '5.0/5', '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5',
       '2.3/5', '2.0/5', '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5',
       '4.0 /5', '4.1 /5', '3.7 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '3.2 /5', '3.1 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '1.5/5', '2.1/5', '1.8/5', '4.6 /5',
       '4.9 /5', '2.5 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5',
       '2.4 /5', '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [ ]:
df['Rating']=df['Rating'].str.split('/').str[0].str.strip().astype(float)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   Rating                       44122 non-null  float64
 6   votes                        44122 non-null  int64
 7   phone                        43172 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    43965 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44107 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  menu_item                    44122 non-null  object
 14  listed_in(type)              44122 non-null  object
 15  listed_in(city)              44122 non-null  object
 16  reviews                      44122 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 7.1+ MB

In [115]:
df['book_table'].unique()

array(['Yes', 'No'], dtype=object)

In [116]:
df['phone'].unique()

array(['080 42297555\r\n+91 9743772233', '080 41714161', '+91 9663487993',
       ..., '+91 9663517066\n+91 9686861135', '+91 9164562939',
       '080 65951222'], dtype=object)

In [118]:
df['phone']=df['phone'].str.split(r'\r\n')

In [119]:
df.head(20)

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,[080 41714161],Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,[+91 9620009302],Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,"[+91 8026612447, +91 9901210005]",Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...
5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8,286,"[+91 9980040002, +91 9980063005]",Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,[],Buffet,Banashankari,Food 3/5\nAmbience 3/5\nService 3/5\n\nHad bee...
6,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6,8,"[+91 9731716688, 080 26740366]",Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,[],Buffet,Banashankari,Awesome food ??Great serviceFriendly staffsGoo...
7,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6,2556,"[080 48653961, 080 48655715]",Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,[],Cafes,Banashankari,I personally really liked this place ! The amb...
8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0,324,"[+91 8884135549, +91 9449449316]",Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,[],Cafes,Banashankari,I had been to this place with one of my friend...
9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2,504,"[+91 9945230807, +91 9743804471]",Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,[],Cafes,Banashankari,Easy to locate\nVFM 3.5/5\nTaste 5/5\nYummy ch...
10,https://www.zomato.com/bangalore/caf%C3%A9-dow...,"12,29 Near PES University Back Gate, D'Souza N...",CafÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚ÂƒÃƒÂƒÃ‚Â‚ÃƒÂ‚Ã‚ÂƒÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â‚ÃƒÂƒÃ‚Â‚ÃƒÂ‚Ã‚Â© Down The A...,Yes,No,4.1,402,"[080 26724489, +91 7406048982]",Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,[],Cafes,Banashankari,We ended up here on a Saturday afternoon after...
11,https://www.zomato.com/bangalore/cafe-shuffle-...,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2,150,[+91 9742166777],Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,[],Cafes,Banashankari,\n\nHorrible. Not even kidding. We ordered BBQ...
12,https://www.zomato.com/bangalore/the-coffee-sh...,"6th Block, 3rd Stage, Banashankari, Bangalore",The Coffee Shack,Yes,Yes,4.2,164,[+91 9731644212],Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,[],Cafes,Banashankari,Food - 4/5\nAmbience - 3.5/5\nService - 3/5\n\...
13,https://www.zomato.com/bangalore/caf-eleven-ba...,"111, Sapphire Toys Building, 100 Feet Ring Roa...",Caf-Eleven,No,No,4.0,424,[080 49577715],Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,[],Cafes,Banashankari,This is a hookah cafe. It was not mentioned an...
14,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Cafes,Banashankari,Ambience is not that good enough and it's not ...
15,https://www.zomato.com/bangalore/cafe-vivacity...,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8,90,"[080 26768182, +91 9845704455]",Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,[],Cafes,Banashankari,Not so good place as I was expecting from here...
16,https://www.zomato.com/bangalore/catch-up-ino-...,"241, 4th Floor, 100 Feet Ring Road, Opposite K...",Catch-up-ino,Yes,No,3.9,133,"[+91 9972988038, +91 9900121238]",Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,[],Cafes,Banashankari,This place is right opposite to the theatre an...
17,https://www.zomato.com/bangalore/kirthis-birya...,"405, 24th Cross, 9th Main, 2nd Stage, Banashan...",Kirthi's Biryani,Yes,No,3.8,144,"[080 26711554, +91 9741406338]",Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,[],Cafes,Banashankari,"New place.. though it's a biryani place,I trie..."
18,https://www.zomato.com/bangalore/t3h-cafe-bana...,"504, CJ Venkata Das Road, Padmanabhangar, 2nd ...",T3H Cafe,No,No,3.9,93,[+91 8884726600],Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,[],Cafes,Banashankari,Happy to see such a cafe nearby to our house. ...
19,https://www.zomato.com/bangalore/360-atoms-res...,"47, 48 &49, 3Rd Floor, 21st Main Road, 2nd Sta...",360 Atoms Restaurant And Cafe,Yes,No,3.1,13,[+91 9880594520],Banashankari,Cafe,NaN,"Cafe, Chinese, Continental, Italian",400,[],Cafes,Banashankari,"Friendly staffs , nice ambience colourful ligh..."

In [120]:
df['listed_in(city)'].unique()

array(['Banashankari', 'Bannerghatta Road', 'Basavanagudi', 'Bellandur',
       'Brigade Road', 'Brookefield', 'BTM', 'Church Street',
       'Electronic City', 'Frazer Town', 'HSR', 'Indiranagar',
       'Jayanagar', 'JP Nagar', 'Kalyan Nagar', 'Kammanahalli',
       'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'Lavelle Road',
       'Malleshwaram', 'Marathahalli', 'MG Road', 'New BEL Road',
       'Old Airport Road', 'Rajajinagar', 'Residency Road',
       'Sarjapur Road', 'Whitefield'], dtype=object)

In [121]:
df['listed_in(type)'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [122]:
df['rest_type'].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Microbrewery, Casual Dining', 'Lounge',
       'Bar, Casual Dining', 'Food Court', 'Cafe, Bakery', nan, 'Dhaba',
       'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Quick Bites, Beverage Shop',
       'Pub, Bar', 'Casual Dining, Pub', 'Lounge, Bar',
       'Dessert Parlor, Quick Bites', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Pub, Cafe',
       'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Confectionery', 'Bakery, Kiosk',
       'Pub, Microbrewery', 'Microbrewery, Lounge',
       'Fine Dining, Microbrewery', 'Fine Dining, Bar',
       'Dessert Parlor, Kiosk', 'Bhojanalya',
       'Casual Dining, Quick Bites', 'Cafe, Bar', 'Casual Dining, Lounge',
       'Microbrewery, Bar', 'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe',
       'Club, Casual Dining', 'Quick Bites, Mess',
       'Quick Bites, Meat Shop', 'Quick Bites, Kiosk',
       'Lounge, Microbrewery', 'Food Court, Beverage Shop',
       'Dessert Parlor, Food Court', 'Bar, Lounge'], dtype=object)

In [123]:
df['dish_liked'].unique()

array(['Pasta, Lunch Buffet, Masala Papad, Paneer Lajawab, Tomato Shorba, Dum Biryani, Sweet Corn Soup',
       'Momos, Lunch Buffet, Chocolate Nirvana, Thai Green Curry, Paneer Tikka, Dum Biryani, Chicken Biryani',
       'Churros, Cannelloni, Minestrone Soup, Hot Chocolate, Pink Sauce Pasta, Salsa, Veg Supreme Pizza',
       ...,
       'Noodles, Chicken Noodle, Momos, American Chopsuey, Salad, Manchow Soup, Manchurian',
       'Chicken Quesadilla, Naan, Breakfast Buffet, Cheesecake, Cocktails, Lunch Buffet, Biryani',
       'Biryani, Andhra Meal'], dtype=object)

In [124]:
df['cuisines'].unique()

array(['North Indian, Mughlai, Chinese', 'Chinese, North Indian, Thai',
       'Cafe, Mexican, Italian', ..., 'Tibetan, Nepalese',
       'North Indian, Street Food, Biryani',
       'North Indian, Chinese, Arabian, Momos'], dtype=object)

In [127]:
len(df['cuisines'].unique())

2471

In [125]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
Rating                             0
votes                              0
phone                            950
location                           0
rest_type                        157
dish_liked                     20666
cuisines                          15
approx_cost(for two people)        0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
reviews                            0
dtype: int64

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   Rating                       44122 non-null  float64
 6   votes                        44122 non-null  int64
 7   phone                        43172 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    43965 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44107 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  menu_item                    44122 non-null  object
 14  listed_in(type)              44122 non-null  object
 15  listed_in(city)              44122 non-null  object
 16  reviews                      44122 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 7.1+ MB

# Features on which Rating will depend

online_order

book_table

votes

location

rest_type

cuisines

approx_cost(for two people)

listed_in(type)

listed_in(city)

In [128]:
df['rest_type']=df['rest_type'].fillna('Unknown')
df['cuisines']=df['cuisines'].fillna('Unknown')
df['phone']=df['phone'].fillna('[]')

In [130]:
df.isnull().sum()  #cant impute dish_liked and will not play a role in training

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
Rating                             0
votes                              0
phone                              0
location                           0
rest_type                          0
dish_liked                     20666
cuisines                           0
approx_cost(for two people)        0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
reviews                            0
dtype: int64

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  object
 4   book_table                   44122 non-null  object
 5   Rating                       44122 non-null  float64
 6   votes                        44122 non-null  int64
 7   phone                        44122 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    44122 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44122 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  menu_item                    44122 non-null  object
 14  listed_in(type)              44122 non-null  object
 15  listed_in(city)              44122 non-null  object
 16  reviews                      44122 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 7.1+ MB

In [132]:
df.head(20)

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,[080 41714161],Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,[+91 9620009302],Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,"[+91 8026612447, +91 9901210005]",Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...
5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8,286,"[+91 9980040002, +91 9980063005]",Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,[],Buffet,Banashankari,Food 3/5\nAmbience 3/5\nService 3/5\n\nHad bee...
6,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6,8,"[+91 9731716688, 080 26740366]",Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,[],Buffet,Banashankari,Awesome food ??Great serviceFriendly staffsGoo...
7,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6,2556,"[080 48653961, 080 48655715]",Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,[],Cafes,Banashankari,I personally really liked this place ! The amb...
8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0,324,"[+91 8884135549, +91 9449449316]",Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,[],Cafes,Banashankari,I had been to this place with one of my friend...
9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2,504,"[+91 9945230807, +91 9743804471]",Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,[],Cafes,Banashankari,Easy to locate\nVFM 3.5/5\nTaste 5/5\nYummy ch...
10,https://www.zomato.com/bangalore/caf%C3%A9-dow...,"12,29 Near PES University Back Gate, D'Souza N...",CafÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚ÂƒÃƒÂƒÃ‚Â‚ÃƒÂ‚Ã‚ÂƒÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â‚ÃƒÂƒÃ‚Â‚ÃƒÂ‚Ã‚Â© Down The A...,Yes,No,4.1,402,"[080 26724489, +91 7406048982]",Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,[],Cafes,Banashankari,We ended up here on a Saturday afternoon after...
11,https://www.zomato.com/bangalore/cafe-shuffle-...,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2,150,[+91 9742166777],Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,[],Cafes,Banashankari,\n\nHorrible. Not even kidding. We ordered BBQ...
12,https://www.zomato.com/bangalore/the-coffee-sh...,"6th Block, 3rd Stage, Banashankari, Bangalore",The Coffee Shack,Yes,Yes,4.2,164,[+91 9731644212],Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,[],Cafes,Banashankari,Food - 4/5\nAmbience - 3.5/5\nService - 3/5\n\...
13,https://www.zomato.com/bangalore/caf-eleven-ba...,"111, Sapphire Toys Building, 100 Feet Ring Roa...",Caf-Eleven,No,No,4.0,424,[080 49577715],Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,[],Cafes,Banashankari,This is a hookah cafe. It was not mentioned an...
14,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Cafes,Banashankari,Ambience is not that good enough and it's not ...
15,https://www.zomato.com/bangalore/cafe-vivacity...,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8,90,"[080 26768182, +91 9845704455]",Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,[],Cafes,Banashankari,Not so good place as I was expecting from here...
16,https://www.zomato.com/bangalore/catch-up-ino-...,"241, 4th Floor, 100 Feet Ring Road, Opposite K...",Catch-up-ino,Yes,No,3.9,133,"[+91 9972988038, +91 9900121238]",Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,[],Cafes,Banashankari,This place is right opposite to the theatre an...
17,https://www.zomato.com/bangalore/kirthis-birya...,"405, 24th Cross, 9th Main, 2nd Stage, Banashan...",Kirthi's Biryani,Yes,No,3.8,144,"[080 26711554, +91 9741406338]",Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,[],Cafes,Banashankari,"New place.. though it's a biryani place,I trie..."
18,https://www.zomato.com/bangalore/t3h-cafe-bana...,"504, CJ Venkata Das Road, Padmanabhangar, 2nd ...",T3H Cafe,No,No,3.9,93,[+91 8884726600],Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,[],Cafes,Banashankari,Happy to see such a cafe nearby to our house. ...
19,https://www.zomato.com/bangalore/360-atoms-res...,"47, 48 &49, 3Rd Floor, 21st Main Road, 2nd Sta...",360 Atoms Restaurant And Cafe,Yes,No,3.1,13,[+91 9880594520],Banashankari,Cafe,NaN,"Cafe, Chinese, Continental, Italian",400,[],Cafes,Banashankari,"Friendly staffs , nice ambience colourful ligh..."

In [133]:
dt.head(20)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,+91 9980040002\r\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
6,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,+91 9731716688\r\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari
7,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,080 48653961\r\n080 48655715,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes,Banashankari
8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,+91 8884135549\r\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari
9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2/5,504,+91 9945230807\r\n+91 9743804471,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
10,https://www.zomato.com/bangalore/caf%C3%A9-dow...,"12,29 Near PES University Back Gate, D'Souza N...",CafÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚ÂƒÃƒÂƒÃ‚Â‚ÃƒÂ‚Ã‚ÂƒÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â‚ÃƒÂƒÃ‚Â‚ÃƒÂ‚Ã‚Â© Down The A...,Yes,No,4.1/5,402,080 26724489\r\n+91 7406048982,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,"[('Rated 4.0', 'RATED\n We ended up here on a...",[],Cafes,Banashankari
11,https://www.zomato.com/bangalore/cafe-shuffle-...,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2/5,150,+91 9742166777,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,"[('Rated 1.0', ""RATED\n \n\nHorrible. Not even...",[],Cafes,Banashankari
12,https://www.zomato.com/bangalore/the-coffee-sh...,"6th Block, 3rd Stage, Banashankari, Bangalore",The Coffee Shack,Yes,Yes,4.2/5,164,+91 9731644212,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,"[('Rated 4.0', ""RATED\n Food - 4/5\nAmbience ...",[],Cafes,Banashankari
13,https://www.zomato.com/bangalore/caf-eleven-ba...,"111, Sapphire Toys Building, 100 Feet Ring Roa...",Caf-Eleven,No,No,4.0/5,424,080 49577715,Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,"[('Rated 2.0', ""RATED\n This is a hookah cafe...",[],Cafes,Banashankari
14,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Cafes,Banashankari
15,https://www.zomato.com/bangalore/cafe-vivacity...,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8/5,90,080 26768182\r\n+91 9845704455,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,"[('Rated 2.0', 'RATED\n Not so good place as ...",[],Cafes,Banashankari
16,https://www.zomato.com/bangalore/catch-up-ino-...,"241, 4th Floor, 100 Feet Ring Road, Opposite K...",Catch-up-ino,Yes,No,3.9/5,133,+91 9972988038\r\n+91 9900121238,Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,"[('Rated 1.0', ""RATED\n This place is right o...",[],Cafes,Banashankari
17,https://www.zomato.com/bangalore/kirthis-birya...,"405, 24th Cross, 9th Main, 2nd Stage, Banashan...",Kirthi's Biryani,Yes,No,3.8/5,144,080 26711554\r\n+91 9741406338,Banashankari,Cafe,"Pasta, Gelato, Garlic Bread, Mojito, Nachos, P...","Chinese, Cafe, Italian",700,"[('Rated 3.0', ""RATED\n New place.. though it...",[],Cafes,Banashankari
18,https://www.zomato.com/bangalore/t3h-cafe-bana...,"504, CJ Venkata Das Road, Padmanabhangar, 2nd ...",T3H Cafe,No,No,3.9/5,93,+91 8884726600,Banashankari,Cafe,"Cheese Maggi, Peri Peri Fries, Pasta Arrabiata","Cafe, Italian, American",300,"[('Rated 4.0', ""RATED\n Happy to see such a c...",[],Cafes,Banashankari
19,https://www.zomato.com/bangalore/360-atoms-res...,"47, 48 &49, 3Rd Floor, 21st Main Road, 2nd Sta...",360 Atoms Restaurant And Cafe,Yes,No,3.1/5,13,+91 9880594520,Banashankari,Cafe,NaN,"Cafe, Chinese, Continental, Italian",400,"[('Rated 5.0', 'RATED\n Friendly staffs , nic...",[],Cafes,Banashankari

In [134]:
df.head(5)

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,[080 41714161],Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,[+91 9620009302],Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,"[+91 8026612447, +91 9901210005]",Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...

In [139]:
dt.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [140]:
df['online_order']=df['online_order'].map({'Yes':1,'No':0})
df['book_table']=df['book_table'].map({'Yes':1,'No':0})

In [141]:
df

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,[080 41714161],Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,[+91 9620009302],Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,"[+91 8026612447, +91 9901210005]",Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,0,0,4.0,0,[+91 9148155994],Whitefield,Bar,NaN,Finger Food,900,[],Pubs and bars,Whitefield,A divine joint for Flavourful Vegetarian and N...
51711,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,0,0,2.5,81,[080 65951222],Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,[],Pubs and bars,Whitefield,"A fine place to chill after office hours, reas..."
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,0,0,3.6,27,[080 40301477],Whitefield,Bar,NaN,Continental,1500,[],Pubs and bars,Whitefield,Food and service are incomparably excellent. T...
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3,236,[080 49652769],"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500,[],Pubs and bars,Whitefield,Nice and friendly place and staff is awesome. ...
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,0,0,3.4,13,[+91 8071117272],"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500,[],Pubs and bars,Whitefield,"Great ambience , looking nice good selection o..."

In [142]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Bannerghatta Road', 'BTM', 'Kanakapura Road', 'CV Raman Nagar',
       'Bommanahalli', 'Marathahalli', 'Electronic City', 'Sarjapur Road',
       'Wilson Garden', 'Shanti Nagar', 'Koramangala 5th Block',
       'Richmond Road', 'HSR', 'Koramangala 7th Block', 'Bellandur',
       'Whitefield', 'East Bangalore', 'Old Airport Road', 'Indiranagar',
       'Koramangala 1st Block', 'Frazer Town', 'MG Road', 'Brigade Road',
       'Lavelle Road', 'Church Street', 'Ulsoor', 'Residency Road',
       'Shivajinagar', 'Infantry Road', 'St. Marks Road',
       'Cunningham Road', 'Race Course Road', 'Commercial Street',
       'Vasanth Nagar', 'Domlur', 'Koramangala 8th Block', 'Ejipura',
       'Jeevan Bhima Nagar', 'Old Madras Road', 'Seshadripuram',
       'Kammanahalli', 'Koramangala 6th Block', 'Majestic',
       'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block',
       'Koramangala 4th Block', 'Koramangala', 'Hosur Road', 'RT Nagar',
       'Banaswadi', 'North Bangalore', 'Nagawara', 'Hennur',
       'Kalyan Nagar', 'HBR Layout', 'Rammurthy Nagar', 'Thippasandra',
       'Kaggadasapura', 'Hebbal', 'Kengeri', 'Sankey Road',
       'Malleshwaram', 'Jalahalli', 'Sadashiv Nagar',
       'Basaveshwara Nagar', 'Rajajinagar', 'Yeshwantpur', 'New BEL Road',
       'West Bangalore', 'Magadi Road', 'Yelahanka', 'Sahakara Nagar'],
      dtype=object)

In [143]:
df['rest_type'].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Microbrewery, Casual Dining', 'Lounge',
       'Bar, Casual Dining', 'Food Court', 'Cafe, Bakery', 'Unknown',
       'Dhaba', 'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Quick Bites, Beverage Shop',
       'Pub, Bar', 'Casual Dining, Pub', 'Lounge, Bar',
       'Dessert Parlor, Quick Bites', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Pub, Cafe',
       'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Confectionery', 'Bakery, Kiosk',
       'Pub, Microbrewery', 'Microbrewery, Lounge',
       'Fine Dining, Microbrewery', 'Fine Dining, Bar',
       'Dessert Parlor, Kiosk', 'Bhojanalya',
       'Casual Dining, Quick Bites', 'Cafe, Bar', 'Casual Dining, Lounge',
       'Microbrewery, Bar', 'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe',
       'Club, Casual Dining', 'Quick Bites, Mess',
       'Quick Bites, Meat Shop', 'Quick Bites, Kiosk',
       'Lounge, Microbrewery', 'Food Court, Beverage Shop',
       'Dessert Parlor, Food Court', 'Bar, Lounge'], dtype=object)

In [ ]:
df['cuisines'].unique()

In [157]:
df['listed_in(city)'].unique()

array(['Banashankari', 'Bannerghatta Road', 'Basavanagudi', 'Bellandur',
       'Brigade Road', 'Brookefield', 'BTM', 'Church Street',
       'Electronic City', 'Frazer Town', 'HSR', 'Indiranagar',
       'Jayanagar', 'JP Nagar', 'Kalyan Nagar', 'Kammanahalli',
       'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'Lavelle Road',
       'Malleshwaram', 'Marathahalli', 'MG Road', 'New BEL Road',
       'Old Airport Road', 'Rajajinagar', 'Residency Road',
       'Sarjapur Road', 'Whitefield'], dtype=object)

In [146]:
df['listed_in(type)'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [149]:
df['cuisines']=df['cuisines'].str.split(',')

In [151]:
df['rest_type']=df['rest_type'].str.split(',')

In [152]:
df

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,[Casual Dining],"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","[North Indian, Mughlai, Chinese]",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,[080 41714161],Banashankari,[Casual Dining],"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","[Chinese, North Indian, Thai]",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,[+91 9663487993],Banashankari,"[Cafe, Casual Dining]","Churros, Cannelloni, Minestrone Soup, Hot Choc...","[Cafe, Mexican, Italian]",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,[+91 9620009302],Banashankari,[Quick Bites],Masala Dosa,"[South Indian, North Indian]",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,"[+91 8026612447, +91 9901210005]",Basavanagudi,[Casual Dining],"Panipuri, Gol Gappe","[North Indian, Rajasthani]",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,0,0,4.0,0,[+91 9148155994],Whitefield,[Bar],NaN,[Finger Food],900,[],Pubs and bars,Whitefield,A divine joint for Flavourful Vegetarian and N...
51711,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,0,0,2.5,81,[080 65951222],Whitefield,"[Casual Dining, Bar]","Biryani, Andhra Meal","[Andhra, South Indian, Chinese, North Indian]",800,[],Pubs and bars,Whitefield,"A fine place to chill after office hours, reas..."
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,0,0,3.6,27,[080 40301477],Whitefield,[Bar],NaN,[Continental],1500,[],Pubs and bars,Whitefield,Food and service are incomparably excellent. T...
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3,236,[080 49652769],"ITPL Main Road, Whitefield",[Bar],"Cocktails, Pizza, Buttermilk",[Finger Food],2500,[],Pubs and bars,Whitefield,Nice and friendly place and staff is awesome. ...
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,0,0,3.4,13,[+91 8071117272],"ITPL Main Road, Whitefield","[Bar, Casual Dining]",NaN,"[Finger Food, North Indian, Continental]",1500,[],Pubs and bars,Whitefield,"Great ambience , looking nice good selection o..."

# Features on which Rating will depend

online_order

book_table

votes

location

rest_type

cuisines

approx_cost(for two people)

listed_in(type)

listed_in(city)

For cuisines  - MultiLabelBinarizer or just keep the count

    rest_type - split n OHE the first
    location- keep top 10 rest as 'Other' and OHE
    listed_in(city) - same as above
    listed_in(type) - OHE
    drop all other columns

In [158]:
dfc=df.copy()

In [174]:
dfc   #keeping initial copy before further changes in df

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,[Casual Dining],"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","[North Indian, Mughlai, Chinese]",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,[080 41714161],Banashankari,[Casual Dining],"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","[Chinese, North Indian, Thai]",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,[+91 9663487993],Banashankari,"[Cafe, Casual Dining]","Churros, Cannelloni, Minestrone Soup, Hot Choc...","[Cafe, Mexican, Italian]",800,[],Buffet,Banashankari,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,[+91 9620009302],Banashankari,[Quick Bites],Masala Dosa,"[South Indian, North Indian]",300,[],Buffet,Banashankari,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,"[+91 8026612447, +91 9901210005]",Basavanagudi,[Casual Dining],"Panipuri, Gol Gappe","[North Indian, Rajasthani]",600,[],Buffet,Banashankari,Very good restaurant in neighbourhood. Buffet ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,0,0,4.0,0,[+91 9148155994],Whitefield,[Bar],NaN,[Finger Food],900,[],Pubs and bars,Whitefield,A divine joint for Flavourful Vegetarian and N...
51711,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,0,0,2.5,81,[080 65951222],Whitefield,"[Casual Dining, Bar]","Biryani, Andhra Meal","[Andhra, South Indian, Chinese, North Indian]",800,[],Pubs and bars,Whitefield,"A fine place to chill after office hours, reas..."
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,0,0,3.6,27,[080 40301477],Whitefield,[Bar],NaN,[Continental],1500,[],Pubs and bars,Whitefield,Food and service are incomparably excellent. T...
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3,236,[080 49652769],"ITPL Main Road, Whitefield",[Bar],"Cocktails, Pizza, Buttermilk",[Finger Food],2500,[],Pubs and bars,Whitefield,Nice and friendly place and staff is awesome. ...
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,0,0,3.4,13,[+91 8071117272],"ITPL Main Road, Whitefield","[Bar, Casual Dining]",NaN,"[Finger Food, North Indian, Continental]",1500,[],Pubs and bars,Whitefield,"Great ambience , looking nice good selection o..."

In [165]:
top_loc=df['location'].value_counts().head(8).index   #top 8(above 1500 rest city)
df['location']=df['location'].apply(lambda x: x if x in top_loc else 'Other')

In [166]:
df['location'].unique()

array(['Other', 'Jayanagar', 'JP Nagar', 'BTM', 'Marathahalli',
       'Koramangala 5th Block', 'HSR', 'Whitefield', 'Indiranagar'],
      dtype=object)

In [168]:
df['listed_in(city)'].unique()

array(['Banashankari', 'Bannerghatta Road', 'Basavanagudi', 'Bellandur',
       'Brigade Road', 'Brookefield', 'BTM', 'Church Street',
       'Electronic City', 'Frazer Town', 'HSR', 'Indiranagar',
       'Jayanagar', 'JP Nagar', 'Kalyan Nagar', 'Kammanahalli',
       'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'Lavelle Road',
       'Malleshwaram', 'Marathahalli', 'MG Road', 'New BEL Road',
       'Old Airport Road', 'Rajajinagar', 'Residency Road',
       'Sarjapur Road', 'Whitefield'], dtype=object)

In [172]:
top_city=df['listed_in(city)'].value_counts().head(10).index   #top 10 cities
top_city
df['listed_in(city)']=df['listed_in(city)'].apply(lambda x: x if x in top_city else 'Other')

In [173]:
df['listed_in(city)'].unique()

array(['Other', 'BTM', 'Church Street', 'Indiranagar', 'Jayanagar',
       'JP Nagar', 'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'MG Road'],
      dtype=object)

In [175]:
df

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,"[080 42297555, +91 9743772233]",Other,[Casual Dining],"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","[North Indian, Mughlai, Chinese]",800,[],Buffet,Other,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,[080 41714161],Other,[Casual Dining],"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","[Chinese, North Indian, Thai]",800,[],Buffet,Other,Had been here for dinner with family. Turned o...
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,[+91 9663487993],Other,"[Cafe, Casual Dining]","Churros, Cannelloni, Minestrone Soup, Hot Choc...","[Cafe, Mexican, Italian]",800,[],Buffet,Other,Ambience is not that good enough and it's not ...
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,[+91 9620009302],Other,[Quick Bites],Masala Dosa,"[South Indian, North Indian]",300,[],Buffet,Other,Great food and proper Karnataka style full mea...
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,"[+91 8026612447, +91 9901210005]",Other,[Casual Dining],"Panipuri, Gol Gappe","[North Indian, Rajasthani]",600,[],Buffet,Other,Very good restaurant in neighbourhood. Buffet ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,0,0,4.0,0,[+91 9148155994],Whitefield,[Bar],NaN,[Finger Food],900,[],Pubs and bars,Other,A divine joint for Flavourful Vegetarian and N...
51711,https://www.zomato.com/bangalore/bhagini-2-whi...,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,0,0,2.5,81,[080 65951222],Whitefield,"[Casual Dining, Bar]","Biryani, Andhra Meal","[Andhra, South Indian, Chinese, North Indian]",800,[],Pubs and bars,Other,"A fine place to chill after office hours, reas..."
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,0,0,3.6,27,[080 40301477],Whitefield,[Bar],NaN,[Continental],1500,[],Pubs and bars,Other,Food and service are incomparably excellent. T...
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,0,1,4.3,236,[080 49652769],Other,[Bar],"Cocktails, Pizza, Buttermilk",[Finger Food],2500,[],Pubs and bars,Other,Nice and friendly place and staff is awesome. ...
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,0,0,3.4,13,[+91 8071117272],Other,"[Bar, Casual Dining]",NaN,"[Finger Food, North Indian, Continental]",1500,[],Pubs and bars,Other,"Great ambience , looking nice good selection o..."

In [176]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'Rating',
       'votes', 'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'menu_item', 'listed_in(type)',
       'listed_in(city)', 'reviews'],
      dtype='object')

In [177]:
to_drop=['url','address','name','phone','dish_liked','menu_item','reviews']  #reviews require NLP (not studied yet)
df.drop(to_drop,axis=1,inplace=True)

In [178]:
df

,online_order,book_table,Rating,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,1,1,4.1,775,Other,[Casual Dining],"[North Indian, Mughlai, Chinese]",800,Buffet,Other
1,1,0,4.1,787,Other,[Casual Dining],"[Chinese, North Indian, Thai]",800,Buffet,Other
2,1,0,3.8,918,Other,"[Cafe, Casual Dining]","[Cafe, Mexican, Italian]",800,Buffet,Other
3,0,0,3.7,88,Other,[Quick Bites],"[South Indian, North Indian]",300,Buffet,Other
4,0,0,3.8,166,Other,[Casual Dining],"[North Indian, Rajasthani]",600,Buffet,Other
...,...,...,...,...,...,...,...,...,...,...
51710,0,0,4.0,0,Whitefield,[Bar],[Finger Food],900,Pubs and bars,Other
51711,0,0,2.5,81,Whitefield,"[Casual Dining, Bar]","[Andhra, South Indian, Chinese, North Indian]",800,Pubs and bars,Other
51712,0,0,3.6,27,Whitefield,[Bar],[Continental],1500,Pubs and bars,Other
51715,0,1,4.3,236,Other,[Bar],[Finger Food],2500,Pubs and bars,Other
51716,0,0,3.4,13,Other,"[Bar, Casual Dining]","[Finger Food, North Indian, Continental]",1500,Pubs and bars,Other

In [181]:
y=pd.DataFrame(df['Rating'],columns=['Rating']) #target variable

In [182]:
y

       Rating
0         4.1
1         4.1
2         3.8
3         3.7
4         3.8
...       ...
51710     4.0
51711     2.5
51712     3.6
51715     4.3
51716     3.4

[44122 rows x 1 columns]

In [183]:
df.drop('Rating',axis=1,inplace=True)

In [184]:
df

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,1,1,775,Other,[Casual Dining],"[North Indian, Mughlai, Chinese]",800,Buffet,Other
1,1,0,787,Other,[Casual Dining],"[Chinese, North Indian, Thai]",800,Buffet,Other
2,1,0,918,Other,"[Cafe, Casual Dining]","[Cafe, Mexican, Italian]",800,Buffet,Other
3,0,0,88,Other,[Quick Bites],"[South Indian, North Indian]",300,Buffet,Other
4,0,0,166,Other,[Casual Dining],"[North Indian, Rajasthani]",600,Buffet,Other
...,...,...,...,...,...,...,...,...,...
51710,0,0,0,Whitefield,[Bar],[Finger Food],900,Pubs and bars,Other
51711,0,0,81,Whitefield,"[Casual Dining, Bar]","[Andhra, South Indian, Chinese, North Indian]",800,Pubs and bars,Other
51712,0,0,27,Whitefield,[Bar],[Continental],1500,Pubs and bars,Other
51715,0,1,236,Other,[Bar],[Finger Food],2500,Pubs and bars,Other
51716,0,0,13,Other,"[Bar, Casual Dining]","[Finger Food, North Indian, Continental]",1500,Pubs and bars,Other

In [187]:
df['rest_type_first']=df['rest_type'].str[0]
df['rest_type_rest']=df['rest_type'].str[1:]

In [188]:
df

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city),rest_type_first,rest_type_rest
0,1,1,775,Other,[Casual Dining],"[North Indian, Mughlai, Chinese]",800,Buffet,Other,Casual Dining,[]
1,1,0,787,Other,[Casual Dining],"[Chinese, North Indian, Thai]",800,Buffet,Other,Casual Dining,[]
2,1,0,918,Other,"[Cafe, Casual Dining]","[Cafe, Mexican, Italian]",800,Buffet,Other,Cafe,[ Casual Dining]
3,0,0,88,Other,[Quick Bites],"[South Indian, North Indian]",300,Buffet,Other,Quick Bites,[]
4,0,0,166,Other,[Casual Dining],"[North Indian, Rajasthani]",600,Buffet,Other,Casual Dining,[]
...,...,...,...,...,...,...,...,...,...,...,...
51710,0,0,0,Whitefield,[Bar],[Finger Food],900,Pubs and bars,Other,Bar,[]
51711,0,0,81,Whitefield,"[Casual Dining, Bar]","[Andhra, South Indian, Chinese, North Indian]",800,Pubs and bars,Other,Casual Dining,[ Bar]
51712,0,0,27,Whitefield,[Bar],[Continental],1500,Pubs and bars,Other,Bar,[]
51715,0,1,236,Other,[Bar],[Finger Food],2500,Pubs and bars,Other,Bar,[]
51716,0,0,13,Other,"[Bar, Casual Dining]","[Finger Food, North Indian, Continental]",1500,Pubs and bars,Other,Bar,[ Casual Dining]

# explode converts that list into distinct value in the same column keeping the index same

In [193]:
df['rest_type'].explode().unique() #40 values #explode converts that list into distinct value in the same column keeping the index same

array(['Casual Dining', 'Cafe', ' Casual Dining', 'Quick Bites', ' Cafe',
       ' Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor', 'Bakery',
       ' Dessert Parlor', 'Pub', 'Takeaway', ' Delivery', 'Fine Dining',
       'Beverage Shop', 'Sweet Shop', 'Bar', ' Sweet Shop', 'Kiosk',
       'Food Truck', ' Bar', ' Beverage Shop', ' Bakery', 'Microbrewery',
       'Lounge', 'Food Court', 'Unknown', 'Dhaba', ' Pub',
       ' Microbrewery', ' Food Court', 'Club', ' Irani Cafee', ' Lounge',
       'Confectionery', ' Kiosk', 'Bhojanalya', ' Mess', ' Meat Shop'],
      dtype=object)

In [196]:
df['cuisines'].explode().unique() #188

array(['North Indian', ' Mughlai', ' Chinese', 'Chinese', ' North Indian',
       ' Thai', 'Cafe', ' Mexican', ' Italian', 'South Indian',
       ' Rajasthani', ' South Indian', ' Andhra', 'Pizza', ' Cafe',
       ' Continental', ' Momos', ' Beverages', ' Fast Food', ' American',
       ' French', ' Pizza', 'Italian', ' European', ' Bakery', ' Burger',
       'Bakery', ' Desserts', ' Biryani', 'Biryani', 'Street Food',
       'Burger', ' Rolls', 'Fast Food', ' Street Food', 'Ice Cream',
       'Healthy Food', ' Salad', 'Asian', ' Korean', ' Indonesian',
       ' Japanese', 'Desserts', 'Goan', ' Seafood', ' Kebab',
       'Continental', ' Steak', 'Seafood', 'Beverages', ' Ice Cream',
       'Mithai', ' Iranian', ' Sandwich', 'Sandwich', ' Juices',
       ' Mithai', 'Thai', ' Vietnamese', ' Asian', 'Salad',
       ' Healthy Food', ' Hyderabadi', 'Bengali', 'Arabian',
       'Mangalorean', ' BBQ', 'Vietnamese', 'Andhra', ' Arabian',
       ' Mangalorean', ' Tea', 'Juices', ' Afghani', 'Mexican', 'Rolls',
       ' Lebanese', ' Finger Food', 'Tibetan', 'Tea', 'Momos', ' Tibetan',
       'Unknown', ' Charcoal Chicken', 'Hyderabadi', 'Finger Food',
       'Mughlai', ' Middle Eastern', ' Mediterranean', 'BBQ', ' Wraps',
       'Kerala', ' Kerala', 'Oriya', ' Bihari', ' Roast Chicken',
       'Maharashtrian', 'Bohri', 'Kebab', 'African', 'American',
       ' Bengali', 'Rajasthani', ' Nepalese', 'Turkish', 'Tamil',
       ' Tex-Mex', ' Belgian', ' Gujarati', 'Roast Chicken', 'Gujarati',
       'South American', ' Oriya', 'Konkan', 'European', ' Chettinad',
       ' Coffee', ' Turkish', ' Indian', ' Maharashtrian', ' Afghan',
       ' Modern Indian', ' Goan', ' Lucknowi', 'Japanese',
       'Modern Indian', 'Bihari', 'Lebanese', 'Australian',
       'Mediterranean', 'Steak', 'Spanish', ' Malaysian', ' Burmese',
       ' Sushi', 'Portuguese', ' African', 'Parsi', 'Nepalese', ' Greek',
       'North Eastern', 'Chettinad', ' Bar Food', ' Konkan', ' Spanish',
       ' Singaporean', 'Awadhi', ' Naga', 'Lucknowi', ' Kashmiri',
       'Korean', ' Cantonese', 'Malaysian', ' Grill', 'Sushi',
       ' Bubble Tea', ' Hot dogs', 'Kashmiri', 'French', ' Assamese',
       ' Awadhi', 'Assamese', 'Coffee', ' Sri Lankan', ' Mongolian',
       ' Paan', ' Parsi', 'Charcoal Chicken', ' North Eastern',
       'Bar Food', ' British', 'Singaporean', 'Middle Eastern', 'Naga',
       ' Pan Asian', 'Belgian', ' German', 'Indonesian', 'Burmese',
       'Russian', ' Drinks Only', ' Jewish', ' Vegan', 'Iranian',
       ' Raw Meats', 'German', ' Sindhi', 'British'], dtype=object)

# Features on which Rating will dependÂ¶
online_order

book_table

votes

location

rest_type

cuisines

approx_cost(for two people)

listed_in(type)

listed_in(city)



-----------------------------------------------------------------------------------------------------



For cuisines - #(MultiLabelBinarizer or just keep the count) is inappropriate due to 188 cols , thus, we will keep popular_cuisine counts

rest_type - split n OHE the first  (since 40 unique wont help , and the most dominant type matters more than number of types , thus keep the first one only and discard all other)

location- keep top 10 rest as 'Other' and OHE

listed_in(city) - same as above

listed_in(type) - OHE

drop all other columns

In [208]:
top_cuisines=df['cuisines'].explode().value_counts().head(25).index
df['pop_cuisines_count']=df['cuisines'].apply(lambda x: sum(c in top_cuisines for c in x))
df['cuisines_count']=df['cuisines'].apply(len)

In [209]:
df

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city),rest_type_first,rest_type_rest,pop_cuisines_count,cuisines_count
0,1,1,775,Other,[Casual Dining],"[North Indian, Mughlai, Chinese]",800,Buffet,Other,Casual Dining,[],3,3
1,1,0,787,Other,[Casual Dining],"[Chinese, North Indian, Thai]",800,Buffet,Other,Casual Dining,[],2,3
2,1,0,918,Other,"[Cafe, Casual Dining]","[Cafe, Mexican, Italian]",800,Buffet,Other,Cafe,[ Casual Dining],2,3
3,0,0,88,Other,[Quick Bites],"[South Indian, North Indian]",300,Buffet,Other,Quick Bites,[],2,2
4,0,0,166,Other,[Casual Dining],"[North Indian, Rajasthani]",600,Buffet,Other,Casual Dining,[],1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,0,0,0,Whitefield,[Bar],[Finger Food],900,Pubs and bars,Other,Bar,[],0,1
51711,0,0,81,Whitefield,"[Casual Dining, Bar]","[Andhra, South Indian, Chinese, North Indian]",800,Pubs and bars,Other,Casual Dining,[ Bar],3,4
51712,0,0,27,Whitefield,[Bar],[Continental],1500,Pubs and bars,Other,Bar,[],1,1
51715,0,1,236,Other,[Bar],[Finger Food],2500,Pubs and bars,Other,Bar,[],0,1
51716,0,0,13,Other,"[Bar, Casual Dining]","[Finger Food, North Indian, Continental]",1500,Pubs and bars,Other,Bar,[ Casual Dining],2,3

In [210]:
dfcc=df.copy()

In [211]:
df.drop(['rest_type','cuisines','rest_type_rest'],axis=1,inplace=True)
df

,online_order,book_table,votes,location,approx_cost(for two people),listed_in(type),listed_in(city),rest_type_first,pop_cuisines_count,cuisines_count
0,1,1,775,Other,800,Buffet,Other,Casual Dining,3,3
1,1,0,787,Other,800,Buffet,Other,Casual Dining,2,3
2,1,0,918,Other,800,Buffet,Other,Cafe,2,3
3,0,0,88,Other,300,Buffet,Other,Quick Bites,2,2
4,0,0,166,Other,600,Buffet,Other,Casual Dining,1,2
...,...,...,...,...,...,...,...,...,...,...
51710,0,0,0,Whitefield,900,Pubs and bars,Other,Bar,0,1
51711,0,0,81,Whitefield,800,Pubs and bars,Other,Casual Dining,3,4
51712,0,0,27,Whitefield,1500,Pubs and bars,Other,Bar,1,1
51715,0,1,236,Other,2500,Pubs and bars,Other,Bar,0,1
51716,0,0,13,Other,1500,Pubs and bars,Other,Bar,2,3

In [212]:
print(len(df['location'].unique()))
print(len(df['listed_in(city)'].unique()))
print(len(df['listed_in(type)'].unique()))
print(len(df['rest_type_first'].unique()))

9
11
7
23

In [213]:
from sklearn.preprocessing import OneHotEncoder
e=OneHotEncoder()
encoded=e.fit_transform(df[['location','listed_in(type)','listed_in(city)','rest_type_first']]).toarray()
encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [215]:
OHE=pd.DataFrame(encoded,columns=e.get_feature_names_out())
OHE

,location_BTM,location_HSR,location_Indiranagar,location_JP Nagar,location_Jayanagar,location_Koramangala 5th Block,location_Marathahalli,location_Other,location_Whitefield,listed_in(type)_Buffet,...,rest_type_first_Food Truck,rest_type_first_Kiosk,rest_type_first_Lounge,rest_type_first_Mess,rest_type_first_Microbrewery,rest_type_first_Pub,rest_type_first_Quick Bites,rest_type_first_Sweet Shop,rest_type_first_Takeaway,rest_type_first_Unknown
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [216]:
dfcc_before_encoding=df.copy()

In [217]:
df=pd.concat([df,OHE],axis=1)
df

,online_order,book_table,votes,location,approx_cost(for two people),listed_in(type),listed_in(city),rest_type_first,pop_cuisines_count,cuisines_count,...,rest_type_first_Food Truck,rest_type_first_Kiosk,rest_type_first_Lounge,rest_type_first_Mess,rest_type_first_Microbrewery,rest_type_first_Pub,rest_type_first_Quick Bites,rest_type_first_Sweet Shop,rest_type_first_Takeaway,rest_type_first_Unknown
0,1.0,1.0,775.0,Other,800.0,Buffet,Other,Casual Dining,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,787.0,Other,800.0,Buffet,Other,Casual Dining,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,918.0,Other,800.0,Buffet,Other,Cafe,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,88.0,Other,300.0,Buffet,Other,Quick Bites,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,166.0,Other,600.0,Buffet,Other,Casual Dining,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
44080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

# Faced alignment issue due to improper index handling

In [218]:
df=dfcc_before_encoding

In [219]:
df

,online_order,book_table,votes,location,approx_cost(for two people),listed_in(type),listed_in(city),rest_type_first,pop_cuisines_count,cuisines_count
0,1,1,775,Other,800,Buffet,Other,Casual Dining,3,3
1,1,0,787,Other,800,Buffet,Other,Casual Dining,2,3
2,1,0,918,Other,800,Buffet,Other,Cafe,2,3
3,0,0,88,Other,300,Buffet,Other,Quick Bites,2,2
4,0,0,166,Other,600,Buffet,Other,Casual Dining,1,2
...,...,...,...,...,...,...,...,...,...,...
51710,0,0,0,Whitefield,900,Pubs and bars,Other,Bar,0,1
51711,0,0,81,Whitefield,800,Pubs and bars,Other,Casual Dining,3,4
51712,0,0,27,Whitefield,1500,Pubs and bars,Other,Bar,1,1
51715,0,1,236,Other,2500,Pubs and bars,Other,Bar,0,1
51716,0,0,13,Other,1500,Pubs and bars,Other,Bar,2,3

In [220]:
# Start Again

In [221]:
#encoded array was correct (.toarray() occupies a lot of space , just keep it as sparse matrix object)
OHE=pd.DataFrame(encoded,columns=e.get_feature_names_out(),index=df.index)
OHE

,location_BTM,location_HSR,location_Indiranagar,location_JP Nagar,location_Jayanagar,location_Koramangala 5th Block,location_Marathahalli,location_Other,location_Whitefield,listed_in(type)_Buffet,...,rest_type_first_Food Truck,rest_type_first_Kiosk,rest_type_first_Lounge,rest_type_first_Mess,rest_type_first_Microbrewery,rest_type_first_Pub,rest_type_first_Quick Bites,rest_type_first_Sweet Shop,rest_type_first_Takeaway,rest_type_first_Unknown
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [222]:
#now drop the columns before concatenation
df.drop(['location','listed_in(type)','listed_in(city)','rest_type_first'],axis=1,inplace=True)
df

,online_order,book_table,votes,approx_cost(for two people),pop_cuisines_count,cuisines_count
0,1,1,775,800,3,3
1,1,0,787,800,2,3
2,1,0,918,800,2,3
3,0,0,88,300,2,2
4,0,0,166,600,1,2
...,...,...,...,...,...,...
51710,0,0,0,900,0,1
51711,0,0,81,800,3,4
51712,0,0,27,1500,1,1
51715,0,1,236,2500,0,1
51716,0,0,13,1500,2,3

In [223]:
df=pd.concat([df,OHE],axis=1)
df

,online_order,book_table,votes,approx_cost(for two people),pop_cuisines_count,cuisines_count,location_BTM,location_HSR,location_Indiranagar,location_JP Nagar,...,rest_type_first_Food Truck,rest_type_first_Kiosk,rest_type_first_Lounge,rest_type_first_Mess,rest_type_first_Microbrewery,rest_type_first_Pub,rest_type_first_Quick Bites,rest_type_first_Sweet Shop,rest_type_first_Takeaway,rest_type_first_Unknown
0,1,1,775,800,3,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,787,800,2,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,918,800,2,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,88,300,2,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0,0,166,600,1,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51710,0,0,0,900,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51711,0,0,81,800,3,4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51712,0,0,27,1500,1,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51715,0,1,236,2500,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51716,0,0,13,1500,2,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [224]:
df.head(6)

,online_order,book_table,votes,approx_cost(for two people),pop_cuisines_count,cuisines_count,location_BTM,location_HSR,location_Indiranagar,location_JP Nagar,...,rest_type_first_Food Truck,rest_type_first_Kiosk,rest_type_first_Lounge,rest_type_first_Mess,rest_type_first_Microbrewery,rest_type_first_Pub,rest_type_first_Quick Bites,rest_type_first_Sweet Shop,rest_type_first_Takeaway,rest_type_first_Unknown
0,1,1,775,800,3,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,787,800,2,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,918,800,2,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,88,300,2,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0,0,166,600,1,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,0,286,600,1,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   online_order                           44122 non-null  int64
 1   book_table                             44122 non-null  int64
 2   votes                                  44122 non-null  int64
 3   approx_cost(for two people)            44122 non-null  int64
 4   pop_cuisines_count                     44122 non-null  int64
 5   cuisines_count                         44122 non-null  int64
 6   location_BTM                           44122 non-null  float64
 7   location_HSR                           44122 non-null  float64
 8   location_Indiranagar                   44122 non-null  float64
 9   location_JP Nagar                      44122 non-null  float64
 10  location_Jayanagar                     44122 non-null  float64
 11  location_Koramangala 5th Block         44122 non-null  float64
 12  location_Marathahalli                  44122 non-null  float64
 13  location_Other                         44122 non-null  float64
 14  location_Whitefield                    44122 non-null  float64
 15  listed_in(type)_Buffet                 44122 non-null  float64
 16  listed_in(type)_Cafes                  44122 non-null  float64
 17  listed_in(type)_Delivery               44122 non-null  float64
 18  listed_in(type)_Desserts               44122 non-null  float64
 19  listed_in(type)_Dine-out               44122 non-null  float64
 20  listed_in(type)_Drinks & nightlife     44122 non-null  float64
 21  listed_in(type)_Pubs and bars          44122 non-null  float64
 22  listed_in(city)_BTM                    44122 non-null  float64
 23  listed_in(city)_Church Street          44122 non-null  float64
 24  listed_in(city)_Indiranagar            44122 non-null  float64
 25  listed_in(city)_JP Nagar               44122 non-null  float64
 26  listed_in(city)_Jayanagar              44122 non-null  float64
 27  listed_in(city)_Koramangala 4th Block  44122 non-null  float64
 28  listed_in(city)_Koramangala 5th Block  44122 non-null  float64
 29  listed_in(city)_Koramangala 6th Block  44122 non-null  float64
 30  listed_in(city)_Koramangala 7th Block  44122 non-null  float64
 31  listed_in(city)_MG Road                44122 non-null  float64
 32  listed_in(city)_Other                  44122 non-null  float64
 33  rest_type_first_Bakery                 44122 non-null  float64
 34  rest_type_first_Bar                    44122 non-null  float64
 35  rest_type_first_Beverage Shop          44122 non-null  float64
 36  rest_type_first_Bhojanalya             44122 non-null  float64
 37  rest_type_first_Cafe                   44122 non-null  float64
 38  rest_type_first_Casual Dining          44122 non-null  float64
 39  rest_type_first_Club                   44122 non-null  float64
 40  rest_type_first_Confectionery          44122 non-null  float64
 41  rest_type_first_Delivery               44122 non-null  float64
 42  rest_type_first_Dessert Parlor         44122 non-null  float64
 43  rest_type_first_Dhaba                  44122 non-null  float64
 44  rest_type_first_Fine Dining            44122 non-null  float64
 45  rest_type_first_Food Court             44122 non-null  float64
 46  rest_type_first_Food Truck             44122 non-null  float64
 47  rest_type_first_Kiosk                  44122 non-null  float64
 48  rest_type_first_Lounge                 44122 non-null  float64
 49  rest_type_first_Mess                   44122 non-null  float64
 50  rest_type_first_Microbrewery           44122 non-null  float64
 51  rest_type_first_Pub                    44122 non-null  float64
 52  rest_type_first_Quick Bites            44122 non-null  float64
 53  rest_type_first_Sweet Shop             44122 non-null  float64
 54  rest_type_first_Takeaway               44122 non-null  float64
 55  rest_type_first_Unknown                44122 non-null  float64
dtypes: float64(50), int64(6)
memory usage: 20.2 MB

In [226]:
df.isnull().sum()

online_order                             0
book_table                               0
votes                                    0
approx_cost(for two people)              0
pop_cuisines_count                       0
cuisines_count                           0
location_BTM                             0
location_HSR                             0
location_Indiranagar                     0
location_JP Nagar                        0
location_Jayanagar                       0
location_Koramangala 5th Block           0
location_Marathahalli                    0
location_Other                           0
location_Whitefield                      0
listed_in(type)_Buffet                   0
listed_in(type)_Cafes                    0
listed_in(type)_Delivery                 0
listed_in(type)_Desserts                 0
listed_in(type)_Dine-out                 0
listed_in(type)_Drinks & nightlife       0
listed_in(type)_Pubs and bars            0
listed_in(city)_BTM                      0
listed_in(city)_Church Street            0
listed_in(city)_Indiranagar              0
listed_in(city)_JP Nagar                 0
listed_in(city)_Jayanagar                0
listed_in(city)_Koramangala 4th Block    0
listed_in(city)_Koramangala 5th Block    0
listed_in(city)_Koramangala 6th Block    0
listed_in(city)_Koramangala 7th Block    0
listed_in(city)_MG Road                  0
listed_in(city)_Other                    0
rest_type_first_Bakery                   0
rest_type_first_Bar                      0
rest_type_first_Beverage Shop            0
rest_type_first_Bhojanalya               0
rest_type_first_Cafe                     0
rest_type_first_Casual Dining            0
rest_type_first_Club                     0
rest_type_first_Confectionery            0
rest_type_first_Delivery                 0
rest_type_first_Dessert Parlor           0
rest_type_first_Dhaba                    0
rest_type_first_Fine Dining              0
rest_type_first_Food Court               0
rest_type_first_Food Truck               0
rest_type_first_Kiosk                    0
rest_type_first_Lounge                   0
rest_type_first_Mess                     0
rest_type_first_Microbrewery             0
rest_type_first_Pub                      0
rest_type_first_Quick Bites              0
rest_type_first_Sweet Shop               0
rest_type_first_Takeaway                 0
rest_type_first_Unknown                  0
dtype: int64

In [227]:
df.to_csv(r"D:\Programming\Machine Learning\Krish Naik ML\Zomato_rating_prediction\notebooks\X_final.csv", index=False)
y.to_csv(r"D:\Programming\Machine Learning\Krish Naik ML\Zomato_rating_prediction\notebooks\y.csv", index=False)

In [228]:
dt.head(2)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [229]:
dfc.head(2)

,url,address,name,online_order,book_table,Rating,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),menu_item,listed_in(type),listed_in(city),reviews
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,[Casual Dining],"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","[North Indian, Mughlai, Chinese]",800,[],Buffet,Banashankari,A beautiful place to dine in.The interiors tak...
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,[080 41714161],Banashankari,[Casual Dining],"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","[Chinese, North Indian, Thai]",800,[],Buffet,Banashankari,Had been here for dinner with family. Turned o...

In [230]:
dfcc.head(2)

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city),rest_type_first,rest_type_rest,pop_cuisines_count,cuisines_count
0,1,1,775,Other,[Casual Dining],"[North Indian, Mughlai, Chinese]",800,Buffet,Other,Casual Dining,[],3,3
1,1,0,787,Other,[Casual Dining],"[Chinese, North Indian, Thai]",800,Buffet,Other,Casual Dining,[],2,3

In [231]:
dfcc_before_encoding.head(2)

,online_order,book_table,votes,approx_cost(for two people),pop_cuisines_count,cuisines_count
0,1,1,775,800,3,3
1,1,0,787,800,2,3

In [232]:
df.head(2)

,online_order,book_table,votes,approx_cost(for two people),pop_cuisines_count,cuisines_count,location_BTM,location_HSR,location_Indiranagar,location_JP Nagar,...,rest_type_first_Food Truck,rest_type_first_Kiosk,rest_type_first_Lounge,rest_type_first_Mess,rest_type_first_Microbrewery,rest_type_first_Pub,rest_type_first_Quick Bites,rest_type_first_Sweet Shop,rest_type_first_Takeaway,rest_type_first_Unknown
0,1,1,775,800,3,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,787,800,2,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [233]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44122 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          44122 non-null  object
 1   address                      44122 non-null  object
 2   name                         44122 non-null  object
 3   online_order                 44122 non-null  int64
 4   book_table                   44122 non-null  int64
 5   Rating                       44122 non-null  float64
 6   votes                        44122 non-null  int64
 7   phone                        44122 non-null  object
 8   location                     44122 non-null  object
 9   rest_type                    44122 non-null  object
 10  dish_liked                   23456 non-null  object
 11  cuisines                     44122 non-null  object
 12  approx_cost(for two people)  44122 non-null  int64
 13  menu_item                    44122 non-null  object
 14  listed_in(type)              44122 non-null  object
 15  listed_in(city)              44122 non-null  object
 16  reviews                      44122 non-null  object
dtypes: float64(1), int64(4), object(12)
memory usage: 7.1+ MB

In [234]:
dfc.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
Rating                             0
votes                              0
phone                              0
location                           0
rest_type                          0
dish_liked                     20666
cuisines                           0
approx_cost(for two people)        0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
reviews                            0
dtype: int64

In [235]:
dfc.to_csv(r"D:\Programming\Machine Learning\Krish Naik ML\Zomato_rating_prediction\notebooks\df_clean.csv", index=False)

# Modeling Implications from EDA

1. Numerical features such as votes, approx_cost, and cuisine counts were retained due to their strong association with ratings.

2. High-cardinality categorical variables were transformed using aggregation and dominant-category selection to reduce sparsity.

3. Location and restaurant type were encoded due to their demonstrated variability in ratings.

4. Overall, the EDA findings directly informed feature selection, transformation, and encoding strategies used to prepare the dataset for regression modeling